torch
matplotlib 
tqdm
numpy
networkx
imageio
#torch-scatter torch-sparse torch-cluster torch-spline-conv torch-geometric -f https://data.pyg.org/whl/torch-1.10.0+cu113.html
#torch-geometric torch-sparse torch-scatter torch-cluster torch-spline-conv  -f https://pytorch-geometric.com/whl/torch-1.10.0+cpu.html 
torch-geometric -f https://pytorch-geometric.com/whl/torch-1.10.0+cpu.html
torch-sparse -f https://pytorch-geometric.com/whl/torch-1.10.0+cpu.html
torch-scatter -f https://pytorch-geometric.com/whl/torch-1.10.0+cpu.html
torch-cluster -f https://pytorch-geometric.com/whl/torch-1.10.0+cpu.html
torch-spline-conv -f https://pytorch-geometric.com/whl/torch-1.10.0+cpu.html
open_spiel
